html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #424242;
    background: linear-gradient(to bottom, #808080, #424242);
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    padding: 0 2.5% 2.5%;
}

.white-key {
    height: 48vh;
    min-width: 50px;
    max-width: 88px;
    background: white;
    flex-grow: 1;
    box-shadow: inset 0 1px 0 #fff,
    inset 0 -1px 0 #fff,
    inset 1px 0 0 #fff,
    inset -1px 0 0 #fff,
    0 4px 3px rgba(0, 0, 0, .7),
    inset 0 -1px 0 #fff,
    inset 1px 0 0 #fff,
    inset -1px -1px 15px rgba(0, 0, 0, .5),
    -3px 4px 6px rgba(0, 0, 0, .5);
}

.white-key:active {
    height: 47vh;
    box-shadow: inset 0 1px 0 #fff,
    inset 0 -1px 0 #fff,
    inset 1px 0 0 #fff,
    inset -1px 0 0 #fff,
    0 4px 3px rgba(0, 0, 0, .7),
    inset 0 -1px 0 #fff,
    inset 1px 0 0 #fff,
    inset -1px -1px 15px #000,
    -3px 4px 6px rgba(0, 0, 0, .5);
}
