* {
    box-sizing: border-box;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #424242;
    background: linear-gradient(to bottom, #808080, #424242);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {

}

.piano {
    height: 50vh;
    display: flex;
    justify-content: center;
    padding: 0 5% 5%;
}

.key {
    flex: 1;
    position: relative;
    max-width: 88px;
    margin: 1px;
    background: transparent;
    border: black thin solid;
}

.white {
    height: 100%;
    background: white;
    position: relative;
}

.black {
    position: absolute;
    top: 0;
    width: 70%;
    background: black;
    height: 20vh;
    transform: translateX(100%);
}

main {
    /*overflow-y: auto;*/
    flex: 10;
    background: darkslategray;
}

footer {
    /*overflow-y: auto;*/
    flex: 1;
}
