@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Lato:wght@300;400;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #424242;
    background: linear-gradient(to bottom, #808080, #424242);
}

body {
    margin: 0;
    height: 100%;
}

.piano {
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 0 5% 5%;
}

.key {
    position: relative;
    flex: 1;
    max-width: 88px;
    margin-right: 1px;
}

.white {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%)
}

.white:active {
    top: -5px;
    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%)
}

.black {
    position: absolute;
    top: 0;
    width: 70%;
    height: 60%;
    transform: translateX(93%);
    z-index: 1;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%)
}

.black:active {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #444 0%, #222 100%)
}

.white-letter, .black-letter {
    align-self: flex-end;
    margin-bottom: 1em;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #555555;
}

.black-letter {
    -webkit-text-fill-color: #e9e9e9;
    -webkit-text-stroke-width: 0;
}

.letter-hide {
    display: none;
}

main {
    background: white;
}

.main-title {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: large;
    color: #222222;
}

.switches {
    display: flex;
    justify-content: center;
}

.switches-text {
    font-size: larger;
}

.switches-key-visibility {
    padding-right: 50px;
    text-align: center;
}

.switches-light {
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 0 5%;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    color: white;
    font-size: large;
    font-weight: 400;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
    font-size: medium;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.main-img {
    padding: 3% 0;
}

.tec img {
    height: 40px;
    opacity: 0.7;
}

.tec img:hover {
    opacity: 1;
}

.name {
    text-transform: uppercase;
    font-weight: 300;
}

.surname {
    text-transform: uppercase;
    font-weight: 900;
}


::selection {
    background-color: #f1c40f;
}

@media screen and (min-height: 576px) {
    .piano {
        height: 50vh;
    }
}

@media only screen and (max-width: 379px) {
    .key:first-child,
    .key:nth-child(2),
    .key:nth-child(3),
    .key:nth-child(4),
    .key:nth-child(5),
    .key:nth-child(6),
    .key:nth-child(7) {
        display: none;
    }
}


@media (min-width: 576px) {
    .main-title {
        font-size: x-large;
    }
}

@media (min-width: 768px) {
    .main-content {
        padding: 0 10%;
    }
}

@media (min-width: 992px) {
    .main-content {
        padding: 0 15%;
    }
}

@media (min-width: 1200px) {
    .main-content {
        padding: 0 20%;
    }
}
